@charset "UTF-8";

.htmx-indicator {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator {
  opacity: 1;
}
.htmx-request.htmx-indicator {
  opacity: 1;
}

.contact.htmx-swapping {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
body,
html {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

.centered-div {
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  font-size: x-large;
  justify-items: center;
}

.text-box {
  margin-left: 10px;
  margin-right: 10px;
  width: 40%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pretty-form {
  max-width: 33%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.trash-icon {
  fill: black;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
