{{block "form" . }}
  <form hx-post="/contacts" hx-swap="outerHTML" class="pretty-form">
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        {{if
        .Values.name}}
        value="{{.Values.name}}"
        {{end}}
        required
        placeholder="Please enter your name"
      />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        {{if
        .Values.email}}
        value="{{.Values.email}}"
        {{end}}
        required
        placeholder="Please enter a valid email address"
      />
    {{if .Errors.email}}

    <div class="centered-div" style="color: red">"{{.Errors.email}}"</div>
    {{end}}
    <button type="submit">Submit Contact</button>
  </form>
</div>
{{end}}
