{{block "index" .}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>HTMX</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/index.css" type="text/css" />
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <script src="/js/form_handler.js" defer></script>
  </head>
  <body>
    <div class="centered-div" id="form">{{template "form" .Form}}</div>
    <hr />
    {{template "contacts" .Data}}
  </body>
</html>
{{end}}
